{{> header}}


<h3>Sorry, your request could not be processed. Here is what might have happened - </h3>
<p>Your entered wrong username/password at login</p>
<p>Your entered duplicate details at signup</p>

{{> footer }}